/* Fonts from Google Fonts - more at https://fonts.google.com */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

@font-face {
  font-family: "FabricsLight";
  src: url("FabricsLight.ttf");
}

body {
  background-image: url(quilt-blue.jpg);
  font-family: "FabricsLight";
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-size: 50px;
}

table{
    width: 100%;
}

a:link {
  text-decoration: none; 
}

a:hover, a:active {
  color:rgb(145, 145, 145);
}

/*
#toolbarTexture {
    position: absolute;
    width: 100%;
    height: 400px;
    box-shadow: 10px 10px 5px grey;
    /*z-index: 2;
}
*/

#toolbar {
  background-image: url(blue-material-bakground.jpg);
  margin: 0 auto;
  position: relative;
  color: #e8e9ed;
  text-align: center;
 /* z-index: 10;*/
}



#logo {
  border-radius: 50%;
}
