/* Fonts from Google Fonts a https://fonts.google.com */

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

@font-face {
  font-family: "FabricsLight";
  src: url("FabricsLight.ttf");
}

/* General Elements */
body {
  background-image: url(gray-fabric-light.jpg);
  font-family: 'Merriweather Sans', sans-serif;
  padding: 5px 25px;
  font-size: 20px;
  margin: 0;
  color: #444;
}

a {
  text-decoration: none;
  /*color: #444;*/ 
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-image: url(blue-material-background.jpg);
  text-align: center;
}

footer {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

footer a {
  color: #444;
}



/* Toolbar, Title */
.active {
  display: block;
  color:rgb(145, 145, 145);
  text-align: center;
  padding: 30px 100px;
  text-decoration: none;
}

#titlebar table {
  width: 100%;
}

#toolbar {
  margin: 0 auto;
}

#toolbar li {
  float: left;
}

#toolbar li a {
  display: block;
  color: #e8e9ed;
  text-align: center;
  padding: 30px 100px;
  text-decoration: none;
}

#toolbar li a:link {
  text-decoration: none; 
  text-align: center;
}

#toolbar li a:hover {
  color:rgb(145, 145, 145);
  text-align: center;
}

#title {
  font-family: "FabricsLight", 'Merriweather Sans';
  font-size: 80px;
  padding: 0;
  margin: 0;
}

#shopping {
  width: 70px;
  float: right;
  padding: 0;
  margin: 0;
}

#logo {
  width: 100px;
  float: left;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}



/* Home page */
#main td {
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: #e8e9ed;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.homeImages {
  opacity: 1;
  display: block;
  width: 600px;
  height: 396px; 
  transition: .5s ease;
  backface-visibility: hidden;
}

.homeImages:hover {
  opacity: 0.5;
}

.imageText {
  position: absolute;
  font-family: "FabricsLight", 'Merriweather Sans';
  font-size: 3.5em;
  color: #e8e9ed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



/* All Products page */
.allpTitles {
  font-family: "FabricsLight", 'Merriweather Sans';
  font-size: 60px;
  text-align: center;
}

.bestSellers {
  border-width: 3px;
  border-style: groove;
  background-image: url(blue-material-background.jpg);
  border-color: #444;
  padding-left: 100px;
  float: right;
}

.bestSellers h2 {
  text-align: center;
  color: white;
}

.bestSellers li {
  text-align: left;
}

.bestSellers tr {
  padding: 0px;
}

.bestSellers a {
  color: white;
}

.bestSellers a:hover {
  color: rgb(145, 145, 145);
}

.merch {
  width: 250px;
  padding: 50px 0px 0px;
}

.rating {
  width: 250px;
  padding: 0px 0px 50px;
}

.productBlock {
  text-align: center;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px 5px #aaaaaa;
  background-color: white;
  border-width: 1px;
  border-style: groove;
  border-color: rgb(145, 145, 145);
}

.productBlock:hover{
  color: white;
  background-color: #444;
  box-shadow: none;
}

.productBlock img, .productBlock h2 {
  padding: 0px;
}

.productBlock a {
  color: #444; 
}

.productBlock a:hover {
  color: rgb(145, 145, 145);
}



/* Pattern Page */
#patternTable {
  text-align: center;
  color: #e8e9ed;
  border-collapse: collapse;
  border-color: #444;
  border-radius: 5%;
}

#patternTable tr {
  padding-right: 20px;
}

#patternTable th {
  text-align: left;
  background-color: rgb(39, 39, 39);
  color: #e8e9ed;
  padding: 10px;
}

#patternTable td, #patternTable a {
  color: #e8e9ed;
  text-align: left;
  background-color:  #444;
  padding: 10px;
}

#patternTable a {
  color: #e8e9ed;
}

#patternTable a:hover {
  color: rgb(145, 145, 145);
}

.patternImages {
  text-align: center;
  width: 500px;
}



/* Contact Us Page */
#contactTable img {
  text-align: right;
  float: right;
  width: 200px;
  height: 200px;
}

#contactTable h1 {
  text-align: center;
}

#contactTable a {
  color: #444;
}

#contactTable th, #contactTable td {
  padding: 25px;
}

.innerContactTable {
  background-color: white;
  width: 600px;
  height: 300px;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.innerContactTable:hover{
  background-color: #444;
  color: white;
  box-shadow: none;
}
